<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        button { padding: 50px; font-size: 15px; width: 80px; }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename='main.css') }}">
    <title>Add Questions</title>
</head>
<body>
        <div class="banner">
            <div class="banner-content">
                <a href="{{ url_for('logout') }}">Log Out</a>   
                <a href="/admin"> Go Back</a>
            </div>
        </div>
        
        <main>
            <h1>Welcome, {{ first_name }} {{ last_name }}</h1>
            <h2> What would you like to do? </h2>
            <img class = "showUser">

        <button href = "createQuiz.html"> Create Quiz + Questions</button>
        </div>

    </main>
</body>
</html>